<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <!-- PLAINTEXT -->
    <f:section name="Plaintext">
        <postmaster:email.recipientSalutation
            queueRecipient="{queueRecipient}"
            prependText="{postmaster:email.translate(key:'partials_newsletter_body.headline', languageKey:'{queueRecipient.languageCode}', extensionName:'rkwNewsletter')} "
            appendText="," />
        \n\n
        <postmaster:cache.renderCache queueMail="{queueMail}" isPlaintext="true" additionalIdentifier="{rkwNewsletter:mailing.getCacheIdentifier(issue:'{issue}', topics:'{topics}')}">
            <f:render partial="Body/Editorial" section="Plaintext" arguments="{_all}" />
            <f:render partial="Body/Items" section="Plaintext" arguments="{_all}" />
        </postmaster:cache.renderCache>
    </f:section>

    <!-- =================================================================================== -->
    <!-- HTML -->

    <f:section name="Html">

        <!-- Headline -->
        <tr>
            <td style="padding: 0 16px; line-height: 20px">
                <p style="margin: 24px 0 24px; font-size:24px; line-height: 28px">
                    <postmaster:email.recipientSalutation queueRecipient="{queueRecipient}"
                        prependText="{postmaster:email.translate(key:'partials_newsletter_body.headline', languageKey:'{queueRecipient.languageCode}', extensionName:'rkwNewsletter')} "
                        appendText="," />
                </p>
            </td>
        </tr>

        <!-- Editorial & Content -->
        <postmaster:cache.renderCache queueMail="{queueMail}" additionalIdentifier="{rkwNewsletter:mailing.getCacheIdentifier(issue:'{issue}', topics:'{topics}')}" nonCachedMarkers="{hash: '{hash}'}">
            <f:render partial="Body/Editorial" section="Html" arguments="{_all}" />
            <!-- Banner -->
            <f:if condition="{issue.banner} && !{isWebView}">
                <f:render partial="Body/Banner" section="Html" arguments="{_all}" />
            </f:if>
            <!-- Top-News -->
            <f:if condition="{f:count(subject: topics)} > 1 && !{isWebView}">
                <f:render partial="Body/TopNews" section="Html" arguments="{_all}" />
            </f:if>
            <f:render partial="Body/Items" section="Html" arguments="{_all}" />
            <f:if condition="{limit} > 0} && !{isWebView}">
                <tr>
                    <td style="padding: 0 16px">
                        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; font-family: 'Arial', sans-serif; font-size: 14px">
                            <tr>
                                <td style="height: 16px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="height: 16px">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </f:if>
        </postmaster:cache.renderCache>
    </f:section>

</html>
