{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
{namespace rkwNewsletter=RKW\RkwNewsletter\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext"><f:if condition="{pages}"><f:for each="{pages}" as="page"><f:for each="<rkwNewsletter:getNewsletterContents issue='{issue}' page='{page}' />" as="content" iteration="iterator"><f:if condition="{iterator.isFirst}"><f:then><f:render partial="Default/Contents/TopicBadge" section="Plaintext" arguments="{_all}" />
</f:then></f:if><f:if condition="{iterator.cycle} < {maxItemsPerTopic}"><f:then><f:render partial="Default/Contents/Content" section="Plaintext" arguments="{_all}" />

<f:render partial="Default/Contents/Contact" section="Plaintext" arguments="{_all}" />
</f:then><f:else><f:if condition="{iterator.isLast}"><f:render partial="Default/Contents/More" section="Plaintext" arguments="{_all}" /></f:if>
</f:else></f:if></f:for></f:for></f:if></f:section>



<!-- HTML -->
<f:section name="Html">

    <f:if condition="{pages}">

        <f:for each="{pages}" as="page">

            <f:for each="<rkwNewsletter:getNewsletterContents issue='{issue}' page='{page}' />" as="content" iteration="iterator">

                <f:if condition="{iterator.isFirst}">
                    <f:then>
                        <!-- first item is special -->
                        <tr>
                            <td style="background: {page.txRkwnewsletterTopic.primaryColor}" id="topic-{page.txRkwnewsletterTopic.uid}" name="topic-{page.txRkwnewsletterTopic.uid}">

                                <!-- badge -->
                                <f:render partial="Default/Contents/TopicBadge" section="Html" arguments="{_all}" />

                                <!-- main part -->
                                <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; font-family: 'Arial', sans-serif; font-size: 14px">
                                    <tr>
                                        <td style="padding: 0 16px 21px; color: #fff">

                                            <!-- Content -->
                                            <f:render partial="Default/Contents/Content" section="HtmlFirst" arguments="{_all}" />

                                            <!-- Contact -->
                                            <f:render partial="Default/Contents/Contact" section="HtmlFirst" arguments="{_all}" />

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- if the first is the last -->
                        <f:if condition="{iterator.isLast}">
                            <tr>
                                <td style="padding-bottom: 16px">
                                   &nbsp;
                                </td>
                            </tr>
                        </f:if>
                    </f:then>


                    <f:else>

                        <f:if condition="{iterator.cycle} < {maxItemsPerTopic}">
                            <f:then>
                                <tr>
                                    <td style="padding: 0 16px" id="item-{iterator.cycle}" name="item-{iterator.cycle}">
                                        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; font-family: 'Arial', sans-serif; font-size: 14px">
                                            <tr>
                                                <td style="height: 16px">&nbsp;</td>
                                            </tr>
                                            <tr>

                                                <!-- main part -->
                                                <td>
                                                    <table cellspacing="0" cellpadding="0" style="width: 100%; font-family: 'Arial', sans-serif; font-size: 14px">
                                                        <tr>
                                                            <td style="width: 16px; height: 7px; background: #fff; vertical-align: top"><img src="###baseUrlImages###/corner-top-left.jpg" alt="" width="16" height="7" style="display: block" /></td>
                                                            <td style="background: #fff">&nbsp;</td>
                                                            <td style="width: 16px; height: 7px; background: #fff; text-align: right; vertical-align: top"><img src="###baseUrlImages###/corner-top-right.jpg" alt="" width="16" height="7" style="float: right; display: block" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background: #fff" colspan="3">

                                                                <!-- Content -->
                                                                <f:render partial="Default/Contents/Content" section="Html" arguments="{_all}" />

                                                                <!-- Contact -->
                                                                <f:render partial="Default/Contents/Contact" section="Html" arguments="{_all}" />

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 16px; height: 7px; background: #fff; vertical-align: bottom"><img src="###baseUrlImages###/corner-bottom-left.jpg" alt="" width="16" height="7" style="display: block" /></td>
                                                            <td style="background: #fff">&nbsp;</td>
                                                            <td style="width: 16px; height: 7px; background: #fff; text-align: right; vertical-align: bottom"><img src="###baseUrlImages###/corner-bottom-right.jpg" alt="" width="16" height="7" style="float: right; display: block" /></td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                            <f:if condition="{iterator.isLast}">
                                                <tr>
                                                    <td style="height: 16px">&nbsp;</td>
                                                </tr>
                                            </f:if>
                                        </table>
                                    </td>
                                </tr>

                            </f:then>
                            <f:else>
                                <f:if condition="{iterator.isLast}">
                                    <tr>
                                        <td style="padding: 16px">
                                            <f:render partial="Default/Contents/More" section="Html" arguments="{_all}" />
                                        </td>
                                    </tr>
                                </f:if>
                            </f:else>
                        </f:if>

                    </f:else>
                </f:if>
            </f:for>
        </f:for>
    </f:if>

</f:section>