{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
{namespace rkwNewsletter=RKW\RkwNewsletter\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">
    <f:render partial="Editorial/Content" section="Plaintext" arguments="{_all}" />
    <f:render partial="Editorial/Contact" section="Plaintext" arguments="{_all}" />
</f:section>


<!-- HTML -->
<f:section name="Html">
    <f:render partial="Editorial/Content" section="Html" arguments="{_all}" />
    <f:render partial="Editorial/Contact" section="Html" arguments="{_all}" />
</f:section>