{namespace vh=RKW\RkwMailer\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">
    ----------------------------------------------------------------------------------------------------------------------------------

RKW Rationalisierungs- und Innovationszentrum der Deutschen Wirtschaft e.V.
Kompetenzzentrum
Düsseldorfer Strasse 40 A
65760 Eschborn
Tel: 06196 495-0
www.rkw-kompetenzzentrum.de
</f:section>



<!-- HTML -->
<f:section name="Html">
	<tr>
		<td style="padding: 48px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #000; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

	<tr>
		<td style="padding: 0px 16px 0 16px" class="text">
			<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; font-family: 'Arial', sans-serif; font-size: 14px">
				<tr>
                    <td style="width: 33%">
                        <a href="###baseUrl###/fachkraeftesicherung"><img src="###baseUrlImages###/topic-4.png" alt="Fachkräftesicherung" style="max-width: 100%" /></a>
                    </td>
                    <td style="width: 33%; text-align: center">
                        <a href="###baseUrl###/gruendung"><img src="###baseUrlImages###/topic-2.png" alt="Gründung" style="max-width: 100%" /></a>
                    </td>
                    <td style="width: 33%; text-align: right">
                        <a href="###baseUrl###/innovation"><img src="###baseUrlImages###/topic-3.png" alt="Innovation" style="max-width: 100%" /></a>
                    </td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td style="padding: 16px" class="footer">
			<p>
				RKW Rationalisierungs- und Innovationszentrum der Deutschen Wirtschaft e.V.<br>
				Kompetenzzentrum<br>
				Düsseldorfer Strasse 40 A<br>
				65760 Eschborn<br>
				Tel: 06196 495-0<br>
				<a href="http://www.rkw-kompetenzzentrum.de">www.rkw-kompetenzzentrum.de</a>
			</p>
		</td>
	</tr>

</f:section>