<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="content">
        <h1>
            <f:translate key="templates_backend_release_sendList" />
        </h1>

        <p class="tx-rkwnewsletter-description"><f:translate key="templates_backend_release_sendList.description" /></p>

        <f:render partial="FlashMessages" arguments="{_all}" />

        <table class="tx-rkwnewsletter-list">
            <tr>
                <th>
                    <f:translate key="templates_backend_release_sendList.title" />
                </th>
                <th>
                    <f:translate key="templates_backend_release_sendList.subscriptions" />
                </th>
                <th>
                    <f:translate key="templates_backend_release_sendList.action"  />
                </th>
            </tr>

            <f:for each="{issues}" as="issue">
                <f:form action="sendConfirm" name="issue" object="{issue}" >
                    <tr>
                        <td><f:form.textfield name="title" value="{issue.title}" /></td>
                        <td>
                            <f:render partial="Release/Subscriptions" arguments="{issue : issue}" />
                        </td>
                        <td>
                            <f:if condition="{rkwNewsletter:backend.hasBackendUserPermission(issue: '{issue}')}">
                                <f:then>
                                    <f:form.button type="submit" >
                                        <f:translate key="templates_backend_release_sendList.go"  />
                                    </f:form.button>
                                </f:then>
                                <f:else>
                                    &ndash;
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                </f:form>
            </f:for>
        </table>


    </f:section>
</html>