<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="content">
        <h1>
            <f:translate key="templates_backend_release_sendConfirm" />
        </h1>

        <p class="tx-rkwnewsletter-description"><f:translate key="templates_backend_release_sendConfirm.description" /></p>

        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:if condition="{issues} && {rkwNewsletter:backend.hasBackendUserPermissionMultiple(issues: issues, allApprovals:'true')}">
            <f:then>
            <table class="tx-rkwnewsletter-list">
                <tr>
                    <th>
                        <f:translate key="templates_backend_release_sendConfirm.id" />
                    </th>
                    <th>
                        <f:translate key="templates_backend_release_sendConfirm.title" />
                    </th>
                    <th>
                        <f:translate key="templates_backend_release_sendConfirm.subscriptions" />
                    </th>
                    <th>
                        <f:translate key="templates_backend_release_sendConfirm.action"  />
                    </th>
                </tr>
    
                <f:if condition="{rkwNewsletter:backend.hasBackendUserPermission(issue: '{issue}')}">
                    <f:form action="send" name="issue" object="{issue}" >
                        <tr>
                            <td>{issue.uid}</td>
                            <td><f:form.textfield name="title" value="{issue.title}" /></td>
                            <td>
                                <f:render partial="Release/Subscriptions" arguments="{issue : issue}" />
                            </td>
                            <td>
                                <f:link.action action="sendList" arguments="{issue : issue}">
                                    <f:translate key="templates_backend_release_sendConfirm.cancel"  />
                                </f:link.action>
                                <f:form.button type="submit" >
                                    <f:translate key="templates_backend_release_sendConfirm.go"  />
                                </f:form.button>
                            </td>
                        </tr>
                    </f:form>
                </f:if>
            </table>
        </f:then>
        <f:else>
            <f:translate key="templates_backend_release_sendConfirm.noIssuesWaiting" />
        </f:else>
        </f:if>        

    </f:section>
</html>