<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="content">
        <h1>
            <f:translate key="templates_backend_release_testList" />
        </h1>

        <p class="tx-rkwnewsletter-description"><f:translate key="templates_backend_release_testList.description" /></p>

        <f:render partial="FlashMessages" arguments="{_all}" />

        <table class="tx-rkwnewsletter-list">
            <tr>
                <th>
                    <f:translate key="templates_backend_release_testList.title" />
                </th>
                <th>
                    <f:translate key="templates_backend_release_testList.email" />
                </th>
                <th>
                    <f:translate key="templates_backend_release_testList.deliveryTopics" />
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>


            <f:for each="{issues}" as="issue">
                <f:form action="test" name="issue" object="{issue}" >
                    <tr>
                        <td><f:form.textfield name="title" value="{issue.title}" /></td>
                        <td><f:form.textfield name="emails" value="{backendUser.email}" /></td>
                        <td>
                            <f:form.select  name="topic"
                                options="{rkwNewsletter:backend.getNonSpecialTopics(issue: issue)}"
                                optionValueField="uid"
                                optionLabelField="name"
                                prependOptionValue="0"
                                prependOptionLabel="{f:translate(key:'templates_backend_release_testList.all')}"
                            />
                        </td>
                        <td>
                            <f:form.button type="submit">
                                <f:translate key="templates_backend_release_testList.go"  />
                            </f:form.button>
                        </td>
                    </tr>
                </f:form>
            </f:for>
        </table>


    </f:section>
</html>