<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:for each="{newsletterList}" as="newsletter" iteration="newsletterIterator">
        <f:if condition="<rkwNewsletter:IsNewsletterSubscriptionAllowed frontendUser='{frontendUser}' newsletter='{newsletter}' />">

            <table class="responsive-table responsive-table--background">
                <tbody>
                    <tr>
                        <th>
                            {newsletter.name}
                        </th>
                    </tr>
                    <f:for each="{newsletter.topic}" as="topic" iteration="topicIterator">
                        <f:if condition="{topic.isSpecial} == 0">
                            <tr>
                                <td>
                                    <div class="form__field width100">
                                        <f:if condition="{topicList}">
                                            <f:then>
                                                <f:form.checkbox
                                                    id="topics[{topicIterator.index}]"
                                                    class="checkbox"
                                                    name="topics[{topicIterator.index}]"
                                                    value="{topic.uid}"
                                                    checked="<rkwNewsletter:IsTopicInList topicList='{topicList}' topic='{topic}' />"
                                                />
                                            </f:then>
                                            <f:else>
                                                <f:form.checkbox
                                                    id="topics[{topicIterator.index}]"
                                                    class="checkbox"
                                                    name="topics[{topicIterator.index}]"
                                                    value="{topic.uid}"
                                                    checked="<rkwNewsletter:IsTopicSubscribed frontendUser='{frontendUser}' topic='{topic}' />"
                                                />
                                            </f:else>
                                        </f:if>
                                        <label for="topics[{topicIterator.index}]" class="checkbox-label">
                                            {topic.name}
                                        </label>
                                    </div>
                                </td>
                            </tr>

                        </f:if>
                    </f:for>

                </tbody>
            </table>

        </f:if>
    </f:for>


</html>





