<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />

    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><postmaster:email.plaintextLineBreaks>
        <postmaster:email.recipientSalutation queueRecipient="{queueRecipient}" prependText="<postmaster:email.translate key='templates_email_optInRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwNewsletter' /> " appendText=","/>
        \n\n
        <postmaster:email.translate key="templates_email_optInRequest.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter"  />
        \n\n
        <f:for each="<rkwNewsletter:getGroupedSubscribedTopics subscriptions='{optIn.data}' />" as="topics" key="newsletter">
        – {newsletter}: <f:for each="{topics}" as="topic" iteration="iterator">{topic.name}<f:if condition="{iterator.isLast}"><f:else>, </f:else></f:if></f:for>\n
        </f:for>
        \n\n
        <postmaster:email.translate key="templates_email_optInRequest.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter"  />
        \n\n
        <postmaster:email.translate key="templates_email_optInRequest.textOptIn" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />\n
        <postmaster:email.uri.action action="optIn" controller="Subscription" extensionName="rkwNewsletter" pluginName="Subscription" absolute="true" pageUid="{pageUid}" additionalParams="{tx_rkwnewsletter_subscription: {token: optIn.tokenYes, tokenUser: optIn.tokenUser}}" section="rkw-newsletter" />
        \n\n
        <postmaster:email.translate key="templates_email_optInRequest.textOptOut" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />\n
    </postmaster:email.plaintextLineBreaks></f:section>

    <!-- HTML -->
    <f:section name="Html">
        <h1><postmaster:email.recipientSalutation queueRecipient="{queueRecipient}" prependText="<postmaster:email.translate key='templates_email_optInRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwNewsletter' /> " appendText=","/></h1>
        <p>
            <postmaster:email.translate key="templates_email_optInRequest.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" /><br>
        </p>

        <ul>
            <f:for each="<rkwNewsletter:getGroupedSubscribedTopics subscriptions='{optIn.data}' />" as="topics" key="newsletter">
                <li>
                    <strong>{newsletter}:</strong>
                    <f:for each="{topics}" as="topic" iteration="iterator">
                        {topic.name}<f:if condition="{iterator.isLast}"><f:else>, </f:else></f:if>
                    </f:for>
                </li>
            </f:for>
        </ul>

        <p>
            <strong><postmaster:email.translate key="templates_email_optInRequest.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" /></strong>
        </p>
        <p>
            <postmaster:email.translate key="templates_email_optInRequest.textOptIn" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter"/><br>
            <a href="<postmaster:email.uri.action action='optIn' controller='Subscription' extensionName='rkwNewsletter' pluginName='Subscription' absolute='true' pageUid='{pageUid}' additionalParams='{tx_rkwnewsletter_subscription: {token: optIn.tokenYes, tokenUser: optIn.tokenUser}}' section='rkw-newsletter' />"><postmaster:email.translate key="templates_email_optInRequest.textOptInLinkLabel" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter"/></a>
        </p>
        <p>
            <postmaster:email.translate key="templates_email_optInRequest.textOptOut" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" /><br>
        </p>
    </f:section>
</html>
