<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:flashMessages as="flashMessages">
        <f:for each="{flashMessages}" as="flashMessage">
            <div class="typo3-messages">
                <div class="alert severity-{flashMessage.severity}">
                    <div class="media">
                        <div class="media-body">
                            <div class="alert-message">
                                <f:format.raw>{flashMessage.message}</f:format.raw>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </f:flashMessages>

</html>
