<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />

    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><postmaster:email.plaintextLineBreaks>
        <postmaster:email.translate key="templates_backend_email_adminApproval.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" arguments="{0 : backendUser.realName}" />
        \n\n
        <postmaster:email.translate key="templates_backend_email_adminApproval.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />
        \n\n
        {approval.issue.uid} – {approval.issue.title}: {approval.topic.name} (<postmaster:email.translate key="templates_backend_email_adminApproval.stage" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter"  /> {stage})
        \n\n
        <postmaster:email.translate key="templates_backend_email_adminApproval.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter"  />
    </postmaster:email.plaintextLineBreaks></f:section>

    <!-- HTML -->
    <f:section name="Html">
        <h1><postmaster:email.translate key="templates_backend_email_adminApproval.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" arguments="{0 : backendUser.realName}" /></h1>
        <p><postmaster:email.translate key="templates_backend_email_adminApproval.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter"  /></p>
        <p><em>{approval.issue.uid} – {approval.issue.title}: {approval.topic.name} (<postmaster:email.translate key="templates_backend_email_adminApproval.stage" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter"  /> {stage})</em></p>
        <p><postmaster:email.translate key="templates_backend_email_adminApproval.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter"  /></p>
    </f:section>

</html>
