<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwMailer="http://typo3.org/ns/RKW/RkwMailer/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />

    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><rkwMailer:email.plaintextLineBreaks>
        <rkwMailer:email.translate key="templates_backend_email_adminApprovalAutomatic.headline" languageKey="{backendUser.lang}" extensionName="rkwNewsletter" arguments="{0 : backendUser.realName}" />
        \n\n
        <rkwMailer:email.translate key="templates_backend_email_adminApprovalAutomatic.text1" languageKey="{backendUser.lang}" extensionName="rkwNewsletter" />
        \n\n
        {approval.issue.uid} – {approval.issue.title}: {approval.topic.name} (<rkwMailer:email.translate key="templates_backend_email_adminApprovalAutomatic.stage" languageKey="{backendUser.lang}" extensionName="rkwNewsletter"  /> {stage})
        \n\n
        <rkwMailer:email.translate key="templates_backend_email_adminApprovalAutomatic.text2" languageKey="{backendUser.lang}" extensionName="rkwNewsletter"  />
    </rkwMailer:email.plaintextLineBreaks></f:section>

    <!-- HTML -->
    <f:section name="Html">
        <h1><rkwMailer:email.translate key="templates_backend_email_adminApprovalAutomatic.headline" languageKey="{backendUser.lang}" extensionName="rkwNewsletter" arguments="{0 : backendUser.realName}" /></h1>
        <p><rkwMailer:email.translate key="templates_backend_email_adminApprovalAutomatic.text1" languageKey="{backendUser.lang}" extensionName="rkwNewsletter"  /></p>
        <p><em>{approval.issue.uid} – {approval.issue.title}: {approval.topic.name} (<rkwMailer:email.translate key="templates_backend_email_adminApprovalAutomatic.stage" languageKey="{backendUser.lang}" extensionName="rkwNewsletter"  /> {stage})</em></p>
        <p><rkwMailer:email.translate key="templates_backend_email_adminApprovalAutomatic.text2" languageKey="{backendUser.lang}" extensionName="rkwNewsletter"  /></p>
    </f:section>

</html>
