<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwMailer="http://typo3.org/ns/RKW/RkwMailer/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    data-namespace-typo3-fluid="true"><rkwMailer:email.plaintextLineBreaks>

    <f:render partial="Global/Header" section="Plaintext" arguments="{_all}" />
    <f:render section="Plaintext" />
    <f:render partial="Global/Footer" section="Plaintext" arguments="{_all}" />

</rkwMailer:email.plaintextLineBreaks></html>
