<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    data-namespace-typo3-fluid="true"><postmaster:email.plaintextLineBreaks>

    <f:render partial="Global/Header" section="Plaintext" arguments="{_all}" />
    <f:render section="Plaintext" />
    <f:render partial="Global/Footer" section="Plaintext" arguments="{_all}" />

</postmaster:email.plaintextLineBreaks></html>
