{namespace rkwNewsletter=RKW\RkwNewsletter\ViewHelpers}
{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:render partial="FlashMessages" arguments="{_all}" />
    <f:render partial="FormErrors" arguments="{for:frontendUser}" />

    <f:form class="form-fields" enctype="multipart/form-data" action="update" >

        <div class="flex-container">
            <div class="form flex flex-basis-8 full-width-medium space-between">

                <!-- Newsletter topics -->
                <p><strong><f:translate key="templates_subscription_edit.topics" /></strong></p>
                <p><em><f:translate key="templates_subscription_edit.delete" /></em></p>

                <f:render partial="Subscription/Topics" arguments="{_all}" />

                <div class="form__field">
                    <f:form.checkbox
                        id="privacy"
                        class="checkbox"
                        name="privacy"
                        value="1"
                        checked="{privacy}"
                    />
                    <label for="privacy" class="checkbox-label">
                        <rkwRegistration:privacyText textVersion="newsletter" />
                    </label>
                </div>

                <p class="flex space-start btn-list">
                    <f:form.submit class="btn btn--primary" value='<f:translate key="templates_subscription_edit.subscribe" />' />
                </p>
            </div>
        </div>

        <f:form.hidden name="hash" value="{hash}"/>

    </f:form>

</f:section>