<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:render partial="FlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{for:frontendUser}" />

        <f:form class="flex-container" enctype="multipart/form-data" action="update" >

            <div class="form flex flex-basis-8 full-width-medium space-between">

                <!-- Newsletter topics -->
                <h3 class="h4"><f:translate key="templates_subscription_edit.topics" /></h3>
                <p><em><f:translate key="templates_subscription_edit.delete" /></em></p>

                <f:render partial="Subscription/Topics" arguments="{_all}" />

                <feRegister:consent type="privacy" key="newsletter" />
                <feRegister:consent type="marketing" />
                
                <p class="flex space-start btn-list">
                    <f:form.submit class="btn btn--primary" value='<f:translate key="templates_subscription_edit.subscribe" />' />
                </p>
            </div>

            <f:form.hidden name="hash" value="{hash}"/>

        </f:form>

    </f:section>
</html>