<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:if condition="{frontendUser}">
            <if condition="{frontendUser.txRkwnewsletterHash}">
                <f:link.action
                    class="btn btn--primary"
                    action="edit"
                    arguments="{hash : frontendUser.txRkwnewsletterHash}"
                >
                    <f:translate key="templates_subscription_message.goToSettings" />
                </f:link.action>
            </if>
        </f:if>
    </f:section>
</html>