<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwNewsletter="http://typo3.org/ns/RKW/RkwNewsletter/ViewHelpers"
    xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    xmlns:coreExtended="http://typo3.org/ns/Madj2k/CoreExtended/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:render partial="FlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{for:frontendUser}" />

        <f:if condition="{newsletterList}">
            <f:form class="flex-container" enctype="multipart/form-data" action="create" name="frontendUser" object="{frontendUser}">

                <div class="form flex flex-basis-8 full-width-medium space-between">

                    <!-- Newsletter topics -->
                    <h3 class="h4"><f:translate key="templates_subscription_new.topics" /></h3>
                    <f:render partial="Subscription/Topics" arguments="{_all}" />

                    <!-- User data -->
                    <h3 class="h4"><f:translate key="templates_subscription_new.userData" /></h3>
                    <f:render partial="Subscription/User" arguments="{_all}" />

                    <f:if condition="{frontendUser.uid} < 1">
                        <rkwRegistration:consent type="terms" />
                    </f:if>
                    <rkwRegistration:consent type="privacy" key="newsletter" />
                    <rkwRegistration:consent type="marketing" />

                    <f:render partial="CaptchaElement" />

                    <p class="flex space-start btn-list">
                        <f:form.submit class="btn btn--primary" value='<f:translate key="templates_subscription_new.subscribe" />' />
                    </p>

                </div>


            </f:form>
        </f:if>

    </f:section>

</html>
